<h2>{{pageTitle}}</h2>


<!--<div [innerHTML]="widget1"></div>-->

<!--&lt;!&ndash; Start TC2000 widget &ndash;&gt;-->
<!--<iframe width="600" noresize="noresize" scrolling="no" height="500" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=44928"></iframe>-->
<!--&lt;!&ndash; END TC2000 Widget &ndash;&gt;-->


<div class="row">

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12  bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-thumbs-o-up"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">LIKES</h6>
                    <span counter="" ng-reflect-count="21130" ng-reflect-interval="3" ng-reflect-increment="4">21,306</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-shopping-cart"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">SALES</h6>
                    <span counter="" ng-reflect-count="38225" ng-reflect-interval="5" ng-reflect-increment="1">38,252</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-comment-o"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">COMMENTS</h6>
                    <span counter="" ng-reflect-count="5423" ng-reflect-interval="2" ng-reflect-increment="3">5,621</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-download"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">DOWNLOADS</h6>
                    <span counter="" ng-reflect-count="1521" ng-reflect-interval="5" ng-reflect-increment="1">1,548</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-users"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">MEMBERS</h6>
                    <span counter="" ng-reflect-count="215985" ng-reflect-interval="6" ng-reflect-increment="1">216,007</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 bottom-15">
        <div class="card small-info-box">
            <div class="media">
        <span class="media-left">
            <i class="fa fa-money"></i>
        </span>
                <div class="media-body text-xs-right">
                    <h6 class="media-heading no-margin">PURCHASES</h6>
                    <span counter="" ng-reflect-count="7143" ng-reflect-interval="5" ng-reflect-increment="1">7,170</span>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="row">

    <div class="col-xl-3 col-lg-6 col-md-6 col-xs-12 bottom-15">
        <div class="card card-primary text-xs-center info-box">
            <div class="card-block">
                <div class="row">
                    <div class="col-xs-3">
            <span class="info-box-icon">
              <i class="glyphicon glyphicon-globe"></i>
            </span>
                    </div>
                    <div class="col-xs-9">
                        <h6 class="no-margin">USERS GROWTH</h6>
                        <h2>7,332</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="no-margin">Registrations</p>
                        <span>+1130</span>
                    </div>
                    <div class="col-xs-6">
                        <p class="no-margin">Bounce Rate</p>
                        <span>3.7%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-xs-12 bottom-15">
        <div class="card card-danger text-xs-center info-box">
            <div class="card-block">
                <div class="row">
                    <div class="col-xs-3">
            <span class="info-box-icon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
                    </div>
                    <div class="col-xs-9">
                        <div class="live-tile carousel ha" data-delay="3000" data-height="52" data-mode="carousel" data-speed="750" live-tile="" style="height: 52px;">
                            <div class="slide ha active" style="transition-property: transform; transition-duration: 750ms; transition-timing-function: ease; transform: translate(0%, 0%) translateZ(0px);">
                                <h6 class="no-margin">VISITS TODAY</h6>
                                <h2>12,324</h2>
                            </div>
                            <div class="slide ha" style="transform: translate(0%, -100%) translateZ(0px); transition-duration: 750ms; transition-property: transform; transition-timing-function: ease;">
                                <h6 class="no-margin">VISITS YESTERDAY</h6>
                                <h2>11,885</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="no-margin">New Visitors</p>
                        <div class="live-tile carousel ha" data-delay="3000" data-height="21" data-mode="carousel" data-speed="750" live-tile="" style="height: 21px;">
                            <div class="slide ha active" style="transition-property: transform; transition-duration: 750ms; transition-timing-function: ease; transform: translate(0%, 0%) translateZ(0px);">
                                <span>1,332</span>
                            </div>
                            <div class="slide ha" style="transform: translate(0%, -100%) translateZ(0px); transition-duration: 750ms; transition-property: transform; transition-timing-function: ease;">
                                <span>20.1%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="no-margin">Bounce Rate</p>
                        <div class="live-tile carousel ha" data-delay="3000" data-height="21" data-mode="carousel" data-speed="750" live-tile="" style="height: 21px;">
                            <div class="slide ha active" style="transition-property: transform; transition-duration: 750ms; transition-timing-function: ease; transform: translate(0%, 0%) translateZ(0px);">
                                <span>217</span>
                            </div>
                            <div class="slide ha" style="transform: translate(0%, -100%) translateZ(0px); transition-duration: 750ms; transition-property: transform; transition-timing-function: ease;">
                                <span>2.3%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-xs-12 bottom-15">
        <div class="card card-warning text-xs-center info-box">
            <div class="card-block">
                <div class="live-tile carousel ha" data-delay="4000" data-direction="horizontal" data-height="98" data-mode="carousel" data-speed="750" live-tile="" style="height: 98px;">
                    <div class="slide ha" style="transition-property: transform; transition-duration: 750ms; transition-timing-function: ease; transform: translate(-100%, 0%) translateZ(0px);">
                        <div class="row">
                            <div class="col-xs-3">
                <span class="info-box-icon">
                  <i class="glyphicon glyphicon-globe"></i>
                </span>
                            </div>
                            <div class="col-xs-9">
                                <h6 class="no-margin">ORDERS</h6>
                                <h2>82,765</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h6 class="no-margin">Avg. Time</h6>
                                <span>2:56</span>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="no-margin">Last Week</h6>
                                <span>374</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide ha active" style="transform: translate(0%, 0%) translateZ(0px); transition-duration: 750ms; transition-property: transform; transition-timing-function: ease;">
                        <div class="row">
                            <div class="col-xs-3">
                <span class="info-box-icon">
                  <i class="glyphicon glyphicon-certificate"></i>
                </span>
                            </div>
                            <div class="col-xs-9">
                                <h6 class="no-margin">PICKED ORDERS</h6>
                                <h2>13.8%</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h6 class="no-margin">Basic</h6>
                                <span>3,692</span>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="no-margin">Advanced</h6>
                                <span>1,441</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-xs-12 bottom-15">
        <div class="card card-success text-xs-center info-box">
            <div class="card-block">
                <div class="row">
                    <div class="col-xs-3">
            <span class="info-box-icon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
                    </div>
                    <div class="col-xs-9">
                        <h6 class="no-margin">TOTAL PROFIT</h6>
                        <h2>$9,448</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="no-margin">Last Month</p>
                        <span>$83,541</span>
                    </div>
                    <div class="col-xs-6">
                        <p class="no-margin">Last Week</p>
                        <span>$17,926</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12 col-xs-12" id="widget1"></div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-xs-12" id="widget2"></div>
</div>






